/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    font-size: 14px;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    font-family: Rajdhani, sans-serif;
    display: -ms-grid;
    display: grid;
    background-color: rgb(143, 110, 67);
}

body, html {
    height: 100%;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(62, 107, 107);
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
            box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
}

h1 {
    color: rgb(24, 39, 39);
    font-size: 48px;
}

h2 {
    color: rgb(51, 39, 22);
}

.content {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: calc(100vh - 170px);
    width: 100%;
}

.content .input, .content .result {
    min-width: 15%;
    max-width: 30%;
    text-align: center;
}

.content .analyse {
    min-width: 30%;
    text-align: center;
}

textarea {
    max-width: 90%;
    height: 100px;
    max-height: 700px;
    background-color: rgb(51, 39, 22);
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
            box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
}

button {
    width: 90%;
    max-width: 100px;
    height: 48px;
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
    background-color: rgb(51, 39, 22);
    border: 1px solid gray;
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
            box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
    color: white;
    border-radius: 5px;
    padding: 2px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

button:hover {
    background-color: #2b8a2e;
}

.hide {
    display: none;
}
